---
export const prerender = false;
import Layout from "../../layouts/Layout.astro";
import { useStoryblokApi } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

const storyblokApi = useStoryblokApi();
const { data } = await storyblokApi.get("cdn/stories/home", {
  version: import.meta.env.DEV ? "draft" : "published",
});
const content = data.story.content;
---

<Layout title="Transportation services - Orlando Superior Transportation">
  <div class="container mx-auto md:lg:xl:px-20">
    <StoryblokComponent blok={content} />
  </div>
</Layout>
