:root {
  --accent: 136, 58, 234;
  --accent-light: 224, 204, 250;
  --accent-dark: 49, 10, 101;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    rgb(var(--accent-light)) 30%,
    white 60%
  );
}

h1 {
  font-size: 3.375rem;
  color: #353f4f;
  line-height: 1.1em;
  font-weight: 800;
}

h2 {
  font-size: 2.375rem;
  color: #353f4f;
  font-weight: 800;
}
h5 {
  color: #000;
}

.mainbanner p {
  display: block;
  font-size: 0.95rem;
  letter-spacing: 1.5px;
  margin-bottom: 35px;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  .mainbanner img {
    width: 90%;
    margin-top: 20px;
    height: auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2.775rem;
  }
  .mainbanner {
    text-align: center;
  }
  .mainbanner p {
    margin-top: 10px !important;
    margin-bottom: 10px;
  }
  .mainbanner {
    text-align: center;
  }

  .mainbanner img {
    width: 100%;
  }
}
