body {
    font-family: "Plus Jakarta Sans";
    color: #6c757d;
    line-height: 1.6666;
    font-weight: 400;
  }

html{
    background-color: #fff;
}
  

.primary-btn {
    color: #353f4f!important;
    background-color: transparent!important;
    border-color: #353f4f!important;
    font-size: 1rem;
    line-height: 1;
    font-weight: 500;
    padding: 0.8rem 1.7rem;
    border: 2px solid transparent;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}
.primary-btn:hover {
    
    color: #fff !important;
    border-color: #cdb05a !important;
    background-color: #cdb05a !important;
}


.secondary-btn {
    color: #fff !important;
    border-color: #cdb05a !important;
    background-color: #cdb05a !important;
    font-size: 1rem;
    line-height: 1;
    font-weight: 500;
    padding: 0.8rem 1.7rem;
    border: 2px solid transparent;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}
.secondary-btn:hover {
    
    color: #fff !important;
    background-color: #353f4f !important;
    border-color: #353f4f !important;
}


.btn-white {
    color: #fff !important;
    border-color: #fff !important;
    background-color: #fff !important;
    font-size: 1rem;
    line-height: 1;
    font-weight: 500;
    padding: 0.8rem 1.7rem;
    border: 2px solid transparent;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}
.btn-white:hover {
    
    color: #cdb05a !important;
    background-color: #cdb05a !important;
    border-color: #cdb05a !important;
}


.btn span{
    display: block;
    font-size: 0.7rem;
    padding-bottom: 5px;
}

p.p-lg {
    font-size: 1.225rem !Important;
}

h1{
    font-size: 3.375rem;
    color:#353f4f;
    font-weight: 800;
}  

h1 span{ 
    background: -webkit-radial-gradient(#c38e31, #916a23) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent 
    }

main {
        background-image: linear-gradient(180deg, #fbf6e2, #fffcee);
        padding-top: 130px;
        padding-bottom: 80px;
        z-index: 1;
        position: relative;
}

main:after {
    position: absolute;
    content: '';
    width: 43%;
    z-index: -1;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    -moz-box-shadow: 0 0 55px 35px #fff;
    -webkit-box-shadow: 0 0 35px 35px #fff;
    box-shadow: 0 0 35px 35px #fff;
}

.header{
    width: 100%;
    position: fixed;
    top: 0px;
    height: 102px;
    padding: 20px 0px 10px 0px;
    backdrop-filter: blur(20px);
    transition: all 0.5s ease;
}

.headersml{
    height: 63px;
    background: rgba(255, 255, 255, 0.8);
    padding: 0px 0px 0px 0px !important;
    transition: all 0.5s ease;
    box-shadow: 0 0.375rem 1.5rem #8c98a421;
}

.headersml .logo{
    height: 60px;
    width: 100px;
}

.header .btn span, .mainbanner .btn span{
    display: none;
}

.mainbanner p{
        display: block;
        font-size: 0.95rem;
        letter-spacing: 1.5px;
        margin-bottom: 35px;
}

/* nav styles */
.nav-links {
    margin:0px auto;
    text-align: center;
  }
.nav-links li  {
    display: inline-block;
  }
  .nav-links li a {
    display: block;
    text-align: center;
    color:#000;
    font-weight: 600;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .nav-links li a:hover,
  .nav-links li a:focus {
    color:#bb892f;
  }
  .hiddenmenuicon {
    display: none;
  }
 
  .expanded {
    display: unset;
  }
  #astronav-menu{
    border: 0;
    background-color: transparent;
  }

  .fixbtn{
    display: none;
    position: fixed;
    bottom: 15px;
    right:15px;
    z-index: 1;
  }
  .fixbtn .btn{
    
    -webkit-box-shadow:1px 2px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.15);
    box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.15);
    width: 100% !Important;
    padding: 7.5px 0px !important;
  }
  

  

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
    .mainbanner img{
        width: 90%;
        margin-top:20px;
        height: auto;
       }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {}


  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    h1{
        font-size: 2.775rem;
    }  
    .mainbanner {
        text-align: center;
       }
       .mainbanner p{
        margin-top: 10px !important;
        margin-bottom: 10px 
       }

    .mainbanner img{
        width: 90%;
        margin-top:20px;
        height: auto;
       }
       .mainbanner .btn, .header .btn{
        display: none;
       }
    .hidden {
        display: none;
      }

      .hiddenmenuicon{
        display: unset;
      }
      
      #astronav-menu{
        border-radius: 5px;
        padding: 6px;
        margin: 7px;
        height: 45px;
        background: transparent;
        
      }

      .nav-links {
        margin: 0px auto;
        text-align: center;
        position: fixed;
        background: white;
        -webkit-box-shadow: 10px 5px 5px 0px rgba(0,0,0,0.15);
-moz-box-shadow: 10px 5px 5px 0px rgba(0,0,0,0.15);
box-shadow: 10px 5px 5px 0px rgba(0,0,0,0.15);
        left: 0px;
        right: 0;
        top: 100px;
        border: 0;
        padding-left: 0px !Important;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
    .headersml .nav-links{
        top: 60px;
    }
    .nav-links li {
        display: block;
        text-align: center;
    }
    .nav-links li a{
        font-size: 20px;
        width: 100%;
    }

    
  .fixbtn {
    background: #353f4f;
    border-top:#ccc solid 1px;
    box-shadow: 0.375rem 0 1.5rem #6f747921;
    display: block;
    position: fixed;
    bottom: 7px;
    padding: 7px;
    border-radius: 5px;
    right: 7px;
    z-index: 1;
    left: 7px;
    
    backdrop-filter: blur(20px);
}


.fixbtn {
    background: #353f4f;
    border-top:#353f4f solid 1px;
    box-shadow: 0.375rem 0 1.5rem #92969c;
    display: block;
    position: fixed;
    bottom: 7px;
    padding: 7px;
    border-radius: 5px;
    right: 7px;
    z-index: 1;
    left: 7px;
    
    backdrop-filter: blur(20px);
}
.fixbtn .primary-btn{
    
    color: #fff !important;
    border-color: #fff !important;
    background-color: transparent !important;
}
.fixbtn .primary-btn:hover{
    
    color: #000 !important;
    border-color: #fff !important;
    background-color: #fff !important;
}
.fixbtn .secondary-btn:hover{
    
    color: #000 !important;
    border-color: #fff !important;
    background-color: #fff !important;
}
.whatsappbtn{
    position: fixed;
    bottom: 80px;
    right: 7px;
}

}

