---
import { storyblokEditable, renderRichText } from "@storyblok/astro";
const { blok } = Astro.props;
const content = renderRichText(blok.content);
---

<article {...storyblokEditable(blok)}>
  <h1 style={{ marginBottom: "5px", padding: "10px" }}>
    {blok.title}
  </h1>
  <p style={{ marginBottom: "5px", padding: "10px" }}>
    {blok.description}
  </p>
  <Fragment set:html={content} />
</article>
