---

import Layout from '../layouts/Layout.astro';
import Services from '../components/services.astro';
import About from '../components/About.astro';
import Rates from '../components/Rates.astro';
import Faq from '../components/Faq.astro';

import { Image } from 'astro:assets';
import banner1 from '../assets/img-09.png';
import whatsapp from '../assets//whatsappicon.png';

---

<Layout title="Transportation services - Orlando Superior Transportation">

		<div class="container mx-auto md:lg:xl:px-20">
			<div class="mainbanner">
				<div id="default-carousel" class="relative " data-carousel="slide" fade>

					
						<!-- Carousel wrapper -->
						<div class="relative grid grid-cols-1 md:lg:xl:grid-cols-2 items-center h-dvh">
							<!-- Item 1 -->
							
							<div class="hidden duration-700 ease-in-out w-full bg-gradient-to-r from-white to-amber-50" data-carousel-item>
								

								<div class="grid grid-cols-1 md:lg:xl:grid-cols-2 items-center">
									<div class="grid sm:w-12/12  md:w-5/12" >
										<p class="text-uppercase">Orlando's Best Transportation Service</p>
										<h1>Disney World & Resort Area <span class="text-yellow-700">Transportation</span></h1>
										<p class="p-lg mt-5"> We will pick you up from any location and drop at any place in the Disney World</p>
						
						
										<a class="hidden md:block max-w-max leading-4 py-3 text-2lg bg-transparent hover:bg-yellow-600 border-2 border-black  px-6 text-center rounded text-black hover:text-white" href="/book">
										<span class="block text-xs ">Orlando Transportation</span>
										Book a Reservation</a>
									</div>
									
									<div class="w-full  grid justify-items-end sm:justify-items-center" >
										<Image src={banner1}  alt="Orlando Transportations Service" style={{objectFit: "contain"}}  width="640" height="670"/>
										
									</div>
								</div>


							</div>
							<!-- Item 2 -->
							<div class="hidden duration-700 ease-in-out w-full bg-gradient-to-r from-white to-amber-50" data-carousel-item>
								

								<div class="grid grid-cols-1 md:lg:xl:grid-cols-2 items-center">
									<div class="grid sm:w-12/12  md:w-5/12" >
										<p class="text-uppercase">Orlando's Best Transportation Service</p>
										<h1>2 Disney World & Resort Area <span>Transportation</span></h1>
										<p class="p-lg mt-5"> We will pick you up from any location and drop at any place in the Disney World</p>
						
						
										<a class="hidden md:block max-w-max leading-4 py-3 text-2lg bg-transparent hover:bg-yellow-600 border-2 border-black  px-6 text-center rounded text-black hover:text-white" href="/book">
										<span class="block text-xs ">Orlando Transportation</span>
										Book a Reservation</a>
									</div>
									
									<div class="w-full  grid justify-items-end sm:justify-items-center" >
										<Image src={banner1}  alt="Orlando Transportations Service" style={{objectFit: "contain"}}  width="640" height="670"/>
										
									</div>
								</div>


							</div>
							<!-- Item 3 -->
							<div class="hidden duration-700 ease-in-out w-full bg-gradient-to-r from-white to-amber-50" data-carousel-item>
								

								<div class="grid grid-cols-1 md:lg:xl:grid-cols-2 items-center">
									<div class="grid sm:w-12/12  md:w-5/12" >
										<p class="text-uppercase">Airport Transfers</p>
										<h1>Disney World & Resort Area <span>Transportation</span></h1>
										<p class="p-lg mt-5"> We will pick you up from any location and drop at any place in the Disney World</p>
						
						
										<a class="hidden md:block max-w-max leading-4 py-3 text-2lg bg-transparent hover:bg-yellow-600 border-2 border-black  px-6 text-center rounded text-black hover:text-white" href="/book">
										<span class="block text-xs ">Orlando Transportation</span>
										Book a Reservation</a>
									</div>
									
									<div class="w-full  grid justify-items-end sm:justify-items-center" >
										<Image src={banner1}  alt="Orlando Transportations Service" style={{objectFit: "contain"}}  width="640" height="670"/>
										
									</div>
								</div>


							</div>
						</div>
						<div class="flex mx-auto w-auto space-x-2 mb-5 bg-gray-800 rounded p-2">
							<button type="button" class="w-3 h-3 rounded-full border-2" aria-current="false" aria-label="Slide 1" data-carousel-slide-to="0"></button>
							<button type="button" class="w-3 h-3 rounded-full border-2" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
							<button type="button" class="w-3 h-3 rounded-full border-2" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
						</div>
						<!-- Slider controls -->
						<button type="button" class="flex absolute top-0 bottom-0 left-0 z-30 justify-center items-center px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
							<span class="inline-flex justify-center items-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-black/30  group-hover:bg-black/50 group-focus:ring-4 group-focus:ring-white  group-focus:outline-none">
								<svg class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
								<span class="hidden">Previous</span>
							</span>
						</button>
						<button type="button" class="flex absolute top-0 bottom-0 right-0 z-30 justify-center items-center px-4 cursor-pointer group focus:outline-none" data-carousel-next>
							<span class="inline-flex justify-center items-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-black/30 group-hover:bg-black/50 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
								<svg class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
								<span class="hidden">Next</span>
							</span>
						</button>
					

				</div>




			
			</div>



<Services />
<About />
<Faq />

	<div class="block md:hidden fixed w-full px-2 bg-black py-2 bottom-0 z-50">
				<a class="fixed bottom-20 right-2" href="#">
				<Image src={whatsapp}  alt="Orlando Transportations Service" style={{objectFit: "contain"}} width="48" height="48"/>
						
						</a>
			

		<div class="grid grid-cols-2 gap-2 items-center">
		
				<a class="leading-5 py-2 text-2lg bg-transparent hover:bg-white border-2 border-white  px-6 text-center rounded text-white hover:text-black grid sm:w-12/12" href="tel:4076976002"><span class="block text-xs ">Call Now</span>407 697 6002</a>
			
		
				<a class="leading-5 py-2 text-2lg bg-yellow-600 hover:bg-yellow-500 border-2 border-yellow-500  px-3 text-center rounded text-white hover:text-white grid sm:w-6/12" href="/book"><span class="block text-xs ">Orlando Transportation</span>Book a Reservation</a>
			
			
			
			
			
			
		</div>
	</div>




		</div>





</Layout>