---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navigation from '../components/Navigation.astro';
import 'bootstrap/dist/css/bootstrap.css'
import "@fontsource/plus-jakarta-sans"; // Defaults to weight 400
import "@fontsource/plus-jakarta-sans/600.css"; // Specify weight
import "@fontsource/plus-jakarta-sans/700.css"; // Specify weight
import '../styles/global.css';

import { Image } from 'astro:assets';
---

<Layout title="Welcome to Astro.">
	<main>

		<div class="header">
			<div class="container">
			
			<div class="row d-flex align-items-center">
				<div class="col-2" >
					<Image src={"/logo.png"}  alt="Orlando Transportations Service" style={{objectFit: "contain"}}  width="140" height="70"/>
				</div>
				
				<div class="col">
					<Navigation />
				</div>
				
				<div class="col-auto">
					<a class="btn">Book  Now</a>
				</div>
			</div>


			</div>
		</div>


		<div class="container">
			<div class="mainbanner">
				
				<div class="row d-flex align-items-center">
					<div class="col-sm-12 col-md-5">
						<p class="text-uppercase">Airport Transfers</p>
						<h1>Disney World & Resort Area Transportation </h1>
						<p class="p-lg mt-5"> We will pick you up from any location and drop at any place in the Disney World</p>
		<a class="btn">Book  Now</a>
					</div>
					
					<div class="col-sm-12 col-md text-center">
						<Image src={"/img-09.png"}  alt="Orlando Transportations Service" style={{objectFit: "contain"}}  width="640" height="670"/>
					</div>
				</div>
			
			</div>
		</div>
		
	</main>
</Layout>