---

import Layout from '../layouts/Layout.astro';
import Services from '../components/services.astro';
import Carousel from '../components/Carousel.astro';
import About from '../components/About.astro';
import Rates from '../components/Rates.astro';
import Faq from '../components/Faq.astro';

import { Image } from 'astro:assets';
import whatsapp from '../assets//whatsappicon.png';

---

<Layout title="Transportation services - Orlando Superior Transportation">

		<div class="container mx-auto md:lg:xl:px-20">
			



<Carousel />
<Services />
<About />
<Faq />

				<a class="fixed bottom-20 md:bottom-2 mb-2 right-2" href="https://wa.me/4076976002?text=I'm%20interested%20in%20booking%20a%20reservation">
				<Image src={whatsapp}  alt="Orlando Transportations Service" style={{objectFit: "contain"}} width="48" height="48"/>
						
						</a>
			
	<div class="block md:hidden fixed w-full px-2 bg-gray-50 border-t-2 py-2 bottom-0 z-50">
	
		<div class="grid grid-cols-2 gap-2 items-center">
			<a href="tel:4076976002" class="grid sm:w-12/12 text-center  p-1 rounded-full from-rose-400 via-fuchsia-500 to-indigo-500 bg-gradient-to-r">
				<span class="block text-black  py-2 pb-3 leading-5 text-lg font-semibold rounded-full bg-gray-50 hover:bg-transparent hover:text-white transition">
					<span class="block text-xs ">Call Now</span>
					407 697 6002</span>
			  </a>

			  <a href="/book" class="grid sm:w-12/12 text-center  p-1 rounded-full from-rose-400 via-fuchsia-500 to-indigo-500 bg-gradient-to-r">
				<span class="block text-black py-2 pb-3 leading-5 text-lg font-semibold rounded-full bg-gray-50 hover:bg-transparent hover:text-white transition">
					<span class="block text-xs ">Orlando Transportation </span>
					Book Now</span>
			  </a>

				
			
			
			
			
			
		</div>
	</div>




		</div>





</Layout>