---
export const prerender = false;
import Layout from "../layouts/Layout.astro";
const thankyou_token = Astro.url.searchParams.get('t') || '';
const timestamp = parseInt(thankyou_token);
const fiveSeconds = 5 * 1000; // 5 seconds in milliseconds
const currentTime = new Date().getTime();
const timeDifference = currentTime - timestamp;

if (timeDifference > fiveSeconds || !thankyou_token) {
  return Astro.redirect('/');
}
---
<meta name="description" content="Our informative blog highlights key considerations and helps you make the best choice for your travel needs in Orlando." />

<Layout title="Orlando Transportation Services | Private Car Service and Limo Service" >
  <h1>Thanks for reaching out.</h1>
</Layout>