---
import { Image } from 'astro:assets';
import about from '../assets/atlantacarwebsite.webp';
---	

<div class=" relative flex items-center justify-center overflow-hidden  ">
     
    <div class="relative mx-auto h-full px-4  pb-20   md:pb-10 sm:max-w-xl md:max-w-full md:px-24 lg:max-w-screen-xl lg:px-8">
        <div class="flex flex-col items-center justify-between lg:flex-row pt-16 pb-6">
            <div class=" relative ">
                <div class=" absolute top-0 -left-48 z-0  opacity-50 ">
                    <img src="https://placehold.co/200x100" class="w-36 z-0  h-full    object-fill fill-y text-y   ">
                </div>
                <div class="lg:max-w-xl lg:pr-5 relative ">
                    <p class="flex text-sm uppercase text-g1  ">
                         
                        About Us
                    </p>
                    <h2 class=" max-w-lg text-5xl font-light leading-snug tracking-tight text-g1 sm:text-6xl sm:leading-snug">
                        Ensuring comfort, convenience, and 
                        <span class="my-1 inline-block border-b-8 border-g4 bg-white px-4 font-bold text-g4 animate__animated animate__flash">Satisfaction</span>
                    </h2>
                   
                    
                </div>
                
               
            </div>
            <div class="relative hidden lg:ml-32 lg:block lg:w-1/2">
            <Image src={about}  alt="Orlando Transportations Service" style={{objectFit: "contain"}} class="mr-3" />
				
                
                
                
            </div>
        </div>
         <p class="text-base text-gray-700">At Orlando Superior Transportation, sustainability is at the core of our values, reflected in our rigorous vehicle maintenance and route optimization practices. Additionally, we prioritize delivering impeccable service by investing in the training of our drivers, upholding the highest standards in vehicle maintenance, and guaranteeing punctuality for our valued customers. Our commitment to excellence extends to our ground transportation offerings, including black car services, chauffeured services, and a fleet of luxury sedans, SUVs, vans, and limousines. Our goal is to provide our customers with a top-tier experience, ensuring their comfort, convenience, and satisfaction throughout their journey with us
</p>
<a class="mt-2 leading-5 py-2 text-2lg bg-yellow-600 hover:bg-yellow-500 border-2 border-yellow-500  px-3 text-center rounded text-white hover:text-white inline-block mx-auto" href="/book"><span class="block text-xs ">Orlando Transportation</span>Book a Reservation</a>
			
    </div> 
    <div class="hidden text-9xl varien absolute top-6 left-1/4 text-g/10     ">
        About Us
    </div>
    <div class=" absolute -bottom-24 left-10 z-0  opacity-10 "> 
        <svg width="800px" height="800px" viewBox="0 0 24 24" class="w-96 z-0  h-full    object-fill fill-gray-300 text-gray-300" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 6C12 5.44772 11.5523 5 11 5C10.4477 5 10 5.44772 10 6V16C10 16.5523 10.4477 17 11 17C11.5523 17 12 16.5523 12 16V6ZM9 9C9 8.44772 8.55228 8 8 8C7.44772 8 7 8.44772 7 9V16C7 16.5523 7.44772 17 8 17C8.55228 17 9 16.5523 9 16V9ZM15 9C15 8.44772 14.5523 8 14 8C13.4477 8 13 8.44772 13 9V16C13 16.5523 13.4477 17 14 17C14.5523 17 15 16.5523 15 16V9ZM18 13C18 12.4477 17.5523 12 17 12C16.4477 12 16 12.4477 16 13V16C16 16.5523 16.4477 17 17 17C17.5523 17 18 16.5523 18 16V13ZM6 15C6 14.4477 5.55228 14 5 14C4.44772 14 4 14.4477 4 15V16C4 16.5523 4.44772 17 5 17C5.55228 17 6 16.5523 6 16V15ZM21 15C21 14.4477 20.5523 14 20 14C19.4477 14 19 14.4477 19 15V16C19 16.5523 19.4477 17 20 17C20.5523 17 21 16.5523 21 16V15ZM4 18C3.44772 18 3 18.4477 3 19C3 19.5523 3.44772 20 4 20H21C21.5523 20 22 19.5523 22 19C22 18.4477 21.5523 18 21 18H4Z"></path>
        </svg>
    </div>
     
 
</div>
