---
import { Image } from 'astro:assets';
import about from '../assets/atlantacarwebsite.webp';
---	

<div class=" relative flex items-center justify-center overflow-hidden  ">
     
    <div class="relative mx-auto h-full px-4  pb-20   md:pb-10 sm:max-w-xl md:max-w-full md:px-24 lg:max-w-screen-xl lg:px-8">
        <div class="flex flex-col items-center justify-between lg:flex-row pt-16 pb-6">
            <div class=" relative ">
                <div class=" absolute top-0 -left-48 z-0  opacity-50 ">
                    <img src="https://placehold.co/200x100" class="w-36 z-0  h-full    object-fill fill-y text-y   ">
                </div>
                <div class="lg:max-w-xl lg:pr-5 relative ">
                    <p class="flex text-sm uppercase text-g1  ">
                         
                        About Us
                    </p>
                    <h2 class=" max-w-lg text-4xl sm:text-6xl ">
                        <span class="text-yellow-900">comfort,</span> <span class="text-yellow-700">convenience, &</span> 
                        <span class="text-yellow-900">Satisfaction</span>
                    </h2>
                   
                    
                </div>
                
               
            </div>
            <div class="relative hidden lg:ml-32 lg:block lg:w-1/2">
            <Image src={about}  alt="Orlando Transportations Service" style={{objectFit: "contain"}} class="mr-3" />
				
                
                
                
            </div>
        </div>
         <p class="text-base text-gray-700">At Orlando Superior Transportation, sustainability is at the core of our values, reflected in our rigorous vehicle maintenance and route optimization practices. Additionally, we prioritize delivering impeccable service by investing in the training of our drivers, upholding the highest standards in vehicle maintenance, and guaranteeing punctuality for our valued customers. Our commitment to excellence extends to our ground transportation offerings, including black car services, chauffeured services, and a fleet of luxury sedans, SUVs, vans, and limousines. Our goal is to provide our customers with a top-tier experience, ensuring their comfort, convenience, and satisfaction throughout their journey with us
</p>

<a class="mt-4 block max-w-max leading-4 py-3 text-2lg bg-transparent hover:bg-yellow-600 border-2 border-yellow-600  px-6 text-center rounded-full text-black hover:text-white" href="/book">
										<span class="block text-xs ">Orlando Transportation</span>
										Book a Reservation</a>
			
    </div> 
    <div class="hidden text-9xl varien absolute top-6 left-1/4 text-g/10     ">
        About Us
    </div>
   
     
 
</div>
