

<div class=" mx-auto px-2 md:px-0 ">
	<div class="flex flex-col items-center">
		<h3 class="font-bold text-5xl mt-5 tracking-tight">
			FAQs
		</h3>
		<p class="text-neutral-500 text-xl mt-3">
			Frequently asked questions
		</p>
	</div>
	<div class="grid divide-y divide-neutral-200  mt-8">
		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span> Where do I meet my driver at Orlando International Airport MCO?						</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
					
					For domestic flights, upon arrival, check your phone for a text from your driver, then notify them via text upon exiting the plane. Follow signs to the terminal shuttle, then proceed to baggage claim where your driver will be waiting at the base of the escalator on level 2 with a sign bearing your name.<br><br>
For international flights, your driver will be on standby close to the airport. Clear customs and notify your driver. Remember to check your phone upon arrival for updates.<br><br>
Both scenarios involve meeting the driver at baggage claim level 2, with luggage assistance available upon request for additional fees.

				</p>
			</details>
		</div>
		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span>How will I find my driver when I get to the MCO airport?	</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
					Our driver will display a sign with your name on it.


				</p>
			</details>
		</div>
		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span>How long does it take to get to Disney from MCO?						</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
				
					Expect your journey from the airport to the Disney Resorts to take approximately 30 to 60 minutes, depending on distance. Departures from the hotels may include extra stops, leading to a similar travel time range of 30 to 60 minutes.



				</p>
			</details>
		</div>
		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span> How far is International Drive Orlando from the airport Orlando Florida?	
</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
					Our transfers from Orlando International Airport to International Drive typically require only 35 minutes. Reach the Universal and Disney World Theme Parks from Orlando Airport in less than an hour.


				</p>
			</details>
		</div>
		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span> How long is Kissimmee from Orlando Airport?	
					</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
					
					The distance by road from Orlando Airport (MCO) to Kissimmee is 17 miles, with an estimated driving time of around 22 minutes.


				</p>
			</details>
		</div>
		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span> How long will be the drive from airport Orlando Florida to downtown Orlando?	
					</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
					The usual travel time to downtown Orlando ranges from 20 to 30 minutes, with fluctuations depending on traffic conditions.


				</p>
			</details>
		</div>
		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span> What forms of payment do you accept?	
					</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
					Our accepted forms of payment include Mastercard, Visa, Discover, American Express (AMEX), and cash. If you have any further inquiries regarding payment methods or require assistance, please do not hesitate to reach out to us. We are here to ensure a seamless experience for our valued customers.

				</p>
			</details>
		</div>
		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span> Should I pre-book an airport transfer?	
					</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
					Booking a transfer in advance is advisable for a seamless travel experience. If you choose to pay by cash or traveler’s checks, you can settle the payment directly with the driver upon arrival at the Orlando airport. However, if you opt to pay by credit card, you must make full pre-payment when booking the reservation.


				</p>
			</details>
		</div>
		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span> Will I receive my reservation confirmation?	
					</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
					You will receive a confirmation number upon making your reservation. This number serves as a reference for your booking and helps ensure a smooth and organized process.

				</p>
			</details>
		</div>


		
		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span> 
						Do you provide receipts for airport transportation payments?	

					</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
					Yes. The chauffeur will provide you with a prepaid voucher for your return journey to the airport. Additionally, you can request a transportation receipt for business-related expenses, and cash receipts can be sent via email upon request.


				</p>
			</details>
		</div>


		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span> 
						What happens if I miss my flight to the MCO airport?	

					</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
					You must cancel your reservation by calling at least 48 hours prior to your scheduled arrival at the airport. Failure to show up for your scheduled flight may result in us charging you the full fare.


				</p>
			</details>
		</div>


		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span> 
						How do I find something I lost in the car?	

					</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
					If you left something in the vehicle, message or call us immediately and report the item left behind. We will do our very best to recover your property. However, we are not responsible for items left in our vehicles. If we find it, we will notify you immediately to make arrangements for pickup or delivery. Please note: we may charge a nominal fee to transport your belongings to your hotel.


				</p>
			</details>
		</div>


		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span> 
						Do you need a car if you stay at a Disney Resort?	

					</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
					No, you don't need to rent a car while staying at your Disney hotel. You can utilize the complimentary resort transportation available depending on your resort and destination.
	</p>
			</details>
		</div>


		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span> 
						Should I pay gratuity to the driver for the return trip as well?	

					</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
					No, you might not have the same driver for your return trip, so gratuity is not necessary.


				</p>
			</details>
		</div>


		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span> 
						Will i need to confirm my reservation for orlando ground transportation?

					</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
					The confirmation of your reservation isn't mandatory once you've provided us with the necessary information, it's advisable to call us at least 24 hours before your arrival in Orlando as a precautionary measure.

				</p>
			</details>
		</div>

		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span> 
						Should I give my credit card details online?	

					</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
					All information collected through our secure reservations form is encrypted for your protection. Alternatively, you may call us toll-free 24/7 to provide your credit card information to a live reservations agent.
				</p>
			</details>
		</div>


		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span> 
						What are the extra expenses for flight delay?	

					</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
					No additional expenses are incurred for flight delays. However, please make an effort to call our number to inform our reservations center of the impending delay.


				</p>
			</details>
		</div>

		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span> 
						What should I do if my flight has been canceled? Will I be billed for the transfers?

					</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
					If the airline cancels your flight, please inform us. You will not be billed if your flight is cancelled and we receive notification from Orlando airlines confirming the cancellation. However, if your flight is not cancelled and you fail to arrive in Orlando without informing us, we reserve the right to bill you for a full one-way fare.

				</p>
			</details>
		</div>


		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span> 
						What is the penalty for canceling my ground transportation without notification?

					</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
					The penalty for canceling ground transportation without notification is outlined in our policy. Reservations must be canceled 48 hours prior to arrival in Orlando, or 72 hours in advance for airports outside of Orlando. This ensures that the vehicle reserved for you is not double-booked. For charters, a 7-day cancellation notice is required.

				</p>
			</details>
		</div>


		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span> 
						Why am I getting charged a service fee?	

					</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
					The service fee is applied to cover miscellaneous expenses such as fuel, refreshments, vehicle maintenance, and cleaning. For local trips within 25 miles of MCO using a sedan or a 10-passenger van, we do not add a service fee. However, a service fee will be charged for all other vehicle types and out-of-town trips. This fee ensures the quality and comfort of your transportation experience.

				</p>
			</details>
		</div>

		
	</div>
</div>

