

	<div class="max-w-screen-xl mx-auto px-5  min-h-sceen">
	<div class="flex flex-col items-center">
		<h2 class="font-bold text-5xl mt-5 tracking-tight">
			FAQ
		</h2>
		<p class="text-neutral-500 text-xl mt-3">
			Frequenty asked questions
		</p>
	</div>
	<div class="grid divide-y divide-neutral-200 max-w-xl mx-auto mt-8">
		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span> HOW WILL MY DRIVER FIND ME WHEN I ARRIVE AT OIA?</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
					 Transportation from the Orlando airport takes roughly 20-25 minutes—depending on traffic.


				</p>
			</details>
		</div>
		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span> HOW WILL I FIND MY DRIVER WHEN I GET TO THE ORLANDO AIRPORT?</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
					Our driver will display a sign with your name on it.


				</p>
			</details>
		</div>
		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span> I NEED TRANSPORTATION TO DISNEY WORLD. HOW LONG DOES IT TAKE FROM THE ORLANDO AIRPORT?</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
				Transportation from the Orlando airport takes approximately 30 minutes non-stop—depending on traffic.


				</p>
			</details>
		</div>
		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span> I'D LIKE TRANSPORTATION TO INTERNATIONAL DRIVE. HOW LONG DOES IT TAKE FROM THE ORLANDO AIRPORT?</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
					Transportation from the Orlando airport takes roughly 20-25 minutes—depending on traffic.


				</p>
			</details>
		</div>
		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span> I'D LIKE TRANSPORTATION TO KISSIMMEE. HOW LONG DOES IT TAKE FROM THE ORLANDO AIRPORT?</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
					Transportation from the Orlando airport takes about 30-40 minutes—depending on traffic and the exact location of your hotel.


				</p>
			</details>
		</div>
		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span> I'D LIKE ORLANDO GROUND TRANSPORTATION TO THE DOWNTOWN AREA. HOW LONG WILL THE DRIVE TAKE FROM THE AIRPORT?</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
					  Transportation from the Orlando airport takes about 35-45 minutes—depending on traffic and your hotel’s location.


				</p>
			</details>
		</div>
		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span> WHAT FORMS OF PAYMENT DO YOU ACCEPT FOR ORLANDO AIRPORT TRANSPORTATION?</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
					We accept Master card, Visa, Discover, AMEX, and cash.


				</p>
			</details>
		</div>
		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span> WILL I HAVE TO PRE-PAY FOR YOUR AIRPORT TRANSPORTATION WHEN I MAKE MY RESERVATION?</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
					If paying by cash or traveler’s checks, you can pay the driver directly upon your arrival at the Orlando airport. However, you must pay for transportation in full at the time of your transfer whether traveling one-way or round trip. If paying by credit card, you must pre-pay in full when you make your ground transportation reservation.


				</p>
			</details>
		</div>
		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span> WILL I RECEIVE A CONFIRMATION NUMBER WHEN I MAKE MY RESERVATION?</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
					 Yes
				</p>
			</details>
		</div>


		
		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span> 
					I'D LIKE TO PAY THE DRIVER IN CASH WHEN I GET TO THE AIRPORT. WILL I GET A RECEIPT OR A VOUCHER?
					</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
					 Absolutely! The driver will issue you a pre-paid voucher for your return trip to the Orlando airport. You may also ask for a transportation receipt for business expense purposes and cash receipts can also be provided through Email.


				</p>
			</details>
		</div>


		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span> 
					WHAT IF I FAIL TO SHOW OR MISS MY FLIGHT TO THE ORLANDO AIRPORT?
					</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
					 You must call and cancel your reservation 48 hours prior to your arrival at the airport. We reserve the right to charge you full fare if you fail to do so. 


				</p>
			</details>
		</div>


		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span> 
					I FORGOT SOMETHING IN THE VEHICLE. WHAT SHOULD I DO?
					</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
					 You must call us immediately and report the items left behind. We will do our very best to recover your property, however we are not responsible for items left in our vehicles. If we find your items, we will notify you immediately to make arrangements for pickup or delivery. Please note: we may charge a nominal fee for transportation of your belongings to your hotel.


				</p>
			</details>
		</div>


		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span> 
					DO I NEED TO RENT A CAR WHILE AT MY DISNEY HOTEL?
					</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
					 Not really! Disney World has a superb onsite ground transportation system, which is offered to their hotel guests at no charge. Travel anywhere on the Disney grounds free of charge!
				</p>
			</details>
		</div>


		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span> 
					SHOULD I PAY GRATUITY TO THE DRIVER FOR THE RETURN TRIP AS WELL?
					</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
					 No, since you might not have the same driver for your return trip.


				</p>
			</details>
		</div>


		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span> 
					WILL I NEED TO CONFIRM MY RESERVATION FOR ORLANDO GROUND TRANSPORTATION?
					</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
					 We do not require that you confirm your reservation once you have given us the information. It is, however, a good idea to call us at least 24 hours in advance of your arrival to Orlando, just to be on the safe side.
				</p>
			</details>
		</div>

		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span> 
					WHAT IF I'M NOT COMFORTABLE SUBMITTING MY CREDIT CARD DATA ONLINE?
					</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
					 All information captured by our secure reservations form is encrypted for your protection. If you prefer, you may call us toll free 24/7 and give your credit card information to a live reservations agent.
				</p>
			</details>
		</div>


		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span> 
					WHAT IF MY FLIGHT TO ORLANDO IS DELAYED, WILL I BE BILLED FOR EXTRA TIME?
					</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
					 No, but please try to call our number to inform our reservations center of the impending delay.


				</p>
			</details>
		</div>

		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span> 
					WHAT IF MY FIGHT TO ORLANDO IS CANCELLED? WILL I BE BILLED FOR THE TRANSFERS?
					</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
					 No. When we verify your flight information with Orlando airlines and are warned that your flight has been cancelled, you will not be billed. However, if your flight was not cancelled and you failed to arrive in Orlando and failed to inform us, we reserve the right to bill you for a full one-way fare.


				</p>
			</details>
		</div>


		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span> 
					WHAT IS THE PENALTY FOR CANCELING MY GROUND TRANSPORTATION WITHOUT NOTIFICATION?
					</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
					 Our policy clearly states that you must cancel your reservation 48 hours in advance of your arrival to Orlando, as well as 72 hours in advance if arriving at an airport outside of Orlando. When your reservation is accepted, we hold a specific vehicle for you, which means that  we will not double book that car for ground transportation.  We require a 7 day cancellation notice for all charters.


				</p>
			</details>
		</div>


		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span> 
					WHY AM I BEING CHARGED A SERVICE FEE?
					</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
					 Service fee covers miscellaneous charges like fuel, sodas, water, and getting the vehicle washed etc.  We will not add a service fee for sedan and 10 pax van local trips(25 miles or less from MCO), however a service fee will be charged for all other vehicles and all out of town trips.


				</p>
			</details>
		</div>

		
	</div>
</div>

<script>
	// ...
	// extend: {
    //   keyframes: {
    //     fadeIn: {
    //       "0%": { opacity: 0 },
    //       "100%": { opacity: 100 },
    //     },
    //   },
    //   animation: {
    //     fadeIn: "fadeIn 0.2s ease-in-out forwards",
    //   },
    // },
    // ...
</script>
