---


import { Image } from 'astro:assets';
import logo from '../assets/logo.png';

---	

<div class="flex items-end w-full bg-white">

    <footer class="w-full text-gray-700 bg-gray-100 body-font">
        <div class="container mx-auto md:lg:xl:px-20 flex flex-col grid grid-cols-6 gap-4 px-5 py-24 mx-auto">
            <div class="col-span-3 lg:col-span-3">
                <a class="flex items-start justify-start font-medium text-gray-900 title-font md:justify-start">
                    <Image src={logo}  alt="Orlando Transportations Service" style={{objectFit: "contain"}} width="140" height="70"/>
						
                </a>
               <div class="mt-4 mb-4 pb-4">
                    <span class="inline-flex justify-center mt-2 sm:ml-auto sm:mt-0 sm:justify-start">
                        <a class="text-gray-500 cursor-pointer hover:text-gray-700" href="https://web.facebook.com/people/Orlando-Superior-Transportation/100092177427861/?_rdc=1&_rdr" target="_blank">
                            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                class="w-5 h-5" viewBox="0 0 24 24">
                                <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                            </svg>
                        </a>
                       
                       
                        <a class="ml-3 text-gray-500 cursor-pointer hover:text-gray-700" href="https://www.instagram.com/orlandosuperiortransportation/" target="_blank">
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                                <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                                <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                            </svg>
                        </a>
                        
                    </span>
                </div>
            </div>
            <div class="col-span-3 lg:col-span-1">
                    <h2 class="mb-3 text-sm font-medium tracking-widest text-gray-900 uppercase title-font">About</h2>
                    <nav class="mb-10 list-none">
                        <li class="mt-3">
                            <a class="text-gray-500 cursor-pointer hover:text-gray-900">Company</a>
                        </li>
                        <li class="mt-3">
                            <a class="text-gray-500 cursor-pointer hover:text-gray-900">Services</a>
                        </li>
                        <li class="mt-3">
                            <a class="text-gray-500 cursor-pointer hover:text-gray-900">Rates</a>
                        </li>
                    </nav>
                </div>

            <div class="col-span-3 lg:col-span-1">
                    <h2 class="mb-3 text-sm font-medium tracking-widest text-gray-900 uppercase title-font">Support</h2>
                    <nav class="mb-10 list-none">
                        <li class="mt-3">
                            <a class="text-gray-500 cursor-pointer hover:text-gray-900">Contact Support</a>
                        </li>
                        <li class="mt-3">
                            <a class="text-gray-500 cursor-pointer hover:text-gray-900">FAQ</a>
                        </li>
                       
                    </nav>
                </div>


            <div class="col-span-3 lg:col-span-1">
                    <h2 class="mb-3 text-sm font-medium tracking-widest text-gray-900 uppercase title-font">Contact</h2>
                    <nav class="mb-10 list-none">
                        <li class="mt-3">
                            <a class="text-gray-500 cursor-pointer hover:text-gray-900">Send a Message</a>
                        </li>
                        <li class="mt-3">
                            <a class="text-gray-500 cursor-pointer hover:text-gray-900" href="/book">Book a Reservation</a>
                        </li>
                        <li class="mt-3">
                            <a class="text-gray-500 cursor-pointer hover:text-gray-900">407 697 6002</a>
                        </li>
                    </nav>
                </div>


        </div>
      
      
    </footer>

</div>