<div class="nav-links" id="nav-menu">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/blog">Service</a>
  <a href="/blog">Rates</a>
  <a href="/blog">Contact</a>
  <a href="/blog">FAQ</a>
</div>