<div class="min-w-screen min-h-screen  flex items-center justify-center py-5">
    <div class="w-full  px-5  text-gray-800">
        <div class="w-full max-w-6xl mx-auto">
            <div class="text-center  mx-auto">
                <h4 class="font-bold text-5xl mt-5 tracking-tight text-center">Satisfied Clients Testimonials</h4>
                <p class="text-neutral-500 text-xl mt-4 text-center">Our dedication to exceptional service is evident through the positive feedback from our clients. If you’ve enjoyed our service, we encourage you to share your experience. Your valuable feedback helps others make an informed choice.</p>
              
            </div>
            <div class="-mx-3 md:flex items-start pt-6">
                <div class="px-3 md:w-1/2">
                    <div class="w-full mx-auto rounded-lg bg-white border border-gray-200 p-5 text-gray-800 font-light mb-6">
                        <div class="w-full flex mb-4 items-center">
                            <div class="hidden overflow-hidden rounded-full w-10 h-10 bg-gray-50 border border-gray-200">
                                <img src="https://i.pravatar.cc/100?img=1" alt="">
                            </div>
                            <div class="flex-grow">
                                <h6 class="font-bold text-sm uppercase text-gray-600">Tina Mccarthy</h6>
                            </div>
                        </div>
                        <div class="w-full">
                            <p class="text-sm leading-tight">Our family had a wonderful time at Disney's Magic Kingdom, and Orlando Superior Transportation service helped make our trip even better. The driver was prompt and courteous, and the vehicle was spacious enough to comfortably accommodate our family of four. We highly recommend this service to anyone visiting the theme park</p>
                        </div>
                    </div>
                    <div class="w-full mx-auto rounded-lg bg-white border border-gray-200 p-5 text-gray-800 font-light mb-6">
                        <div class="w-full flex mb-4 items-center">
                            
                            
                            <div class="flex-grow">
                                <h6 class="font-bold text-sm uppercase text-gray-600">Freddy Rodriguez</h6>
                            </div>
                        </div>
                        <div class="w-full">
                            <p class="text-sm leading-tight">I recently used this transportation service to get from my hotel to the Nassau Port for a Disney cruise, and it was a great experience. The driver was friendly and knowledgeable about the area, and the vehicle was clean and comfortable. I would definitely use this service again!</p>
                        </div>
                    </div>
                </div>
               
                <div class="px-3 md:w-1/2">
                    <div class="w-full mx-auto rounded-lg bg-white border border-gray-200 p-5 text-gray-800 font-light mb-6">
                        <div class="w-full flex mb-4 items-center">
                            
                            <div class="flex-grow">
                                <h6 class="font-bold text-sm uppercase text-gray-600">Brian</h6>
                            </div>
                        </div>
                        <div class="w-full">
                            <p class="text-sm leading-tight">I've used this transportation company multiple times and have never been disappointed. They always arrive on time, the vehicles are clean and well-maintained, and the drivers are friendly and knowledgeable. I highly recommend their services to anyone in need of reliable transportation.</p>
                        </div>
                    </div>
                    <div class="w-full mx-auto rounded-lg bg-white border border-gray-200 p-5 text-gray-800 font-light mb-6">
                        <div class="w-full flex mb-4 items-center">
                            
                            <div class="flex-grow">
                                <h6 class="font-bold text-sm uppercase text-gray-600">Mary Doe</h6>
                            </div>
                        </div>
                        <div class="w-full">
                            <p class="text-sm leading-tight">I was in town for a business trip and used this transportation service to get to and from the airport. The drivers were professional and courteous, and the vehicles were spacious and comfortable. I appreciated the ease and convenience of booking online and would definitely use this service again.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>