
<div class="container max-w-screen-lg mx-auto px-3 md:px-0">
    <div class="text-center mx-auto ">
    <h4 class="font-bold text-5xl mt-10 pt-8 tracking-tight text-center">Satisfied Clients Testimonials</h4>
    <p class="text-neutral-500 text-xl mt-4 text-center">Our dedication to exceptional service is evident through the positive feedback from our clients. If you’ve enjoyed our service, we encourage you to share your experience. Your valuable feedback helps others make an informed choice.</p>
  
</div>
</div>

<div  class="relative w-full " data-carousel-interval="10000"  data-carousel="slide">
    
    <div class="relative h-96 overflow-hidden rounded-lg md:h-80">
        
        <div class="hidden duration-700 ease-in-out" data-carousel-item="active">
          

                
                    <div class="max-w-screen-xl px-4  mx-auto text-center pt-8 lg:px-6">
                        <figure class="max-w-screen-md mx-auto">
                            <svg class="h-12 mx-auto mb-3 text-gray-400 dark:text-gray-600" viewBox="0 0 24 27" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z"
                                    fill="currentColor"></path>
                            </svg>
                            <blockquote>
                                <p >
                                    "Our family had a wonderful time at Disney's Magic Kingdom, and Orlando Superior Transportation service helped make our trip even better. The driver was prompt and courteous, and the vehicle was spacious enough to comfortably accommodate our family of four. We highly recommend this service to anyone visiting the theme park"</p>
                            </blockquote>
                            <figcaption class="flex items-center justify-center mt-6 space-x-3">
                               <div class="flex items-center divide-x-2 divide-gray-500 dark:divide-gray-700">
                                    <div class="pr-3 font-medium text-gray-900 dark:text-white">TINA MCCARTHY
                                    </div>
                                    <div class="pl-3 text-sm font-light text-gray-500 dark:text-gray-400">Customer</div>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
               
            
            
            
        </div>
        <!-- Item 2 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <div class="max-w-screen-xl px-4  mx-auto text-center pt-8 lg:px-6">
                <figure class="max-w-screen-md mx-auto">
                    <svg class="h-12 mx-auto mb-3 text-gray-400 dark:text-gray-600" viewBox="0 0 24 27" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z"
                            fill="currentColor"></path>
                    </svg>
                    <blockquote>
                        <p >
                            "I've used this transportation company multiple times and have never been disappointed. They always arrive on time, the vehicles are clean and well-maintained, and the drivers are friendly and knowledgeable. I highly recommend their services to anyone in need of reliable transportation."</p>
                    </blockquote>
                    <figcaption class="flex items-center justify-center mt-6 space-x-3">
                       <div class="flex items-center divide-x-2 divide-gray-500 dark:divide-gray-700">
                            <div class="pr-3 font-medium text-gray-900 dark:text-white">BRIAN
                            </div>
                            <div class="pl-3 text-sm font-light text-gray-500 dark:text-gray-400">Customer</div>
                        </div>
                    </figcaption>
                </figure>
            </div>
        
        
        </div>
        <!-- Item 3 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            
            <div class="max-w-screen-xl px-4  mx-auto text-center pt-8 lg:px-6">
                <figure class="max-w-screen-md mx-auto">
                    <svg class="h-12 mx-auto mb-3 text-gray-400 dark:text-gray-600" viewBox="0 0 24 27" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z"
                            fill="currentColor"></path>
                    </svg>
                    <blockquote>
                        <p >
                            "I recently used Orlando Superior Transportation service to get from my hotel to the Nassau Port for a Disney cruise, and it was a great experience. The driver was friendly and knowledgeable about the area, and the vehicle was clean and comfortable. I would definitely use this service again!"</p>
                    </blockquote>
                    <figcaption class="flex items-center justify-center mt-6 space-x-3">
                       <div class="flex items-center divide-x-2 divide-gray-500 dark:divide-gray-700">
                            <div class="pr-3 font-medium text-gray-900 dark:text-white">FREDDY RODRIGUEZ

                            </div>
                            <div class="pl-3 text-sm font-light text-gray-500 dark:text-gray-400">Customer</div>
                        </div>
                    </figcaption>
                </figure>
            </div>
        
        </div>
        <!-- Item 4 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
           
            <div class="max-w-screen-xl px-4  mx-auto text-center pt-8 lg:px-6">
                <figure class="max-w-screen-md mx-auto">
                    <svg class="h-12 mx-auto mb-3 text-gray-400 dark:text-gray-600" viewBox="0 0 24 27" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z"
                            fill="currentColor"></path>
                    </svg>
                    <blockquote>
                        <p >
                            "I was in town for a business trip and used Orlando Superior Transportation service to get to and from the airport. The drivers were professional and courteous, and the vehicles were spacious and comfortable. I appreciated the ease and convenience of booking online and would definitely use this service again."</p>
                    </blockquote>
                    <figcaption class="flex items-center justify-center mt-6 space-x-3">
                       <div class="flex items-center divide-x-2 divide-gray-500 dark:divide-gray-700">
                            <div class="pr-3 font-medium text-gray-900 dark:text-white">MARY DOE


                            </div>
                            <div class="pl-3 text-sm font-light text-gray-500 dark:text-gray-400">Customer</div>
                        </div>
                    </figcaption>
                </figure>
            </div>
        
        
        </div>
       
    </div>
    <!-- Slider indicators -->
    <div class="absolute z-30 bg-slate-300 p-2 rounded-xl flex -translate-x-1/2 space-x-3 rtl:space-x-reverse bottom-5 left-1/2">
        <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
      </div>
    
</div>



