---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
   
    <meta name="viewport" content="width=device-width" />
    <link rel="canonical" href={canonicalURL} />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />

    
<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://www.orlandosuperiortransportation.com/">
<meta property="og:type" content="website">
<meta property="og:title" content="Transportation Services - Orlando Superior Transportation">
<meta property="og:description" content="Explore Orlando in style with our luxurious transportation services. From airport transportation to VIP services, we offer luxury sedans, SUVs, vans, and limo services in Orlando. ">
<meta property="og:image" content="https://www.orlandosuperiortransportation.com/og-graphic.jpg">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="orlandosuperiortransportation.com">
<meta property="twitter:url" content="https://www.orlandosuperiortransportation.com/">
<meta name="twitter:title" content="Transportation Services - Orlando Superior Transportation">
<meta name="twitter:description" content="Explore Orlando in style with our luxurious transportation services. From airport transportation to VIP services, we offer luxury sedans, SUVs, vans, and limo services in Orlando. ">
<meta name="twitter:image" content="https://www.orlandosuperiortransportation.com/og-graphic.jpg">


    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>
    <!-- Google Tag Manager -->
    <script type="text/partytown">
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-5PNCBWND");
    </script>
    <!-- End Google Tag Manager -->


    <!-- Microsoft Clarity -->
    <script type="text/javascript">
      (function(c,l,a,r,i,t,y){
          c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
          t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
          y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
      })(window, document, "clarity", "script", "l8us769iww");
  </script>
  <!-- End Microsoft Clarity -->
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        title="Google Tag Manager"
        src="https://www.googletagmanager.com/ns.html?id=GTM-5PNCBWND"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <main class="min-h-screen bg-gradient-to-r from-white to-amber-50">
      <BaseHead />
      <slot />
      <Footer />
    </main>
    <script
      is:inline
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"
    ></script>
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  
</style>
