---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Banner from "../components/banner.astro";
import WebsiteStructuredData from "../components/WebsiteStructuredData.astro"
import LocalBusinessStructuredData from "../components/LocalBusinessStructuredData.astro"
import OrganizationStructuredData from "../components/OrganizationStructuredData.astro"

import { Image } from "astro:assets";
import upgrateoffer from "../assets/upgrateoffer.jpg";
interface Props {
  title: string;
}

const { title } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
   
    <meta name="viewport" content="width=device-width" />
    <link rel="canonical" href={canonicalURL} />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />

    
<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://www.orlandosuperiortransportation.com/">
<meta property="og:type" content="website">
<meta property="og:title" content="Orlando Transportation Services | Private Car Service and Limo Service">
<meta property="og:description" content="Explore Walt Disney World, Disney Springs, Disney World area hotels, Universal Studios, and numerous other resorts with our Orlando transportation services.">
<meta property="og:image" content="https://www.orlandosuperiortransportation.com/og-graphic.jpg">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="orlandosuperiortransportation.com">
<meta property="twitter:url" content="https://www.orlandosuperiortransportation.com/">
<meta name="twitter:title" content="Orlando Transportation Services | Airport, Disney, Universal Studios attractions Private Car and Limo Service">
<meta name="twitter:description" content="Explore Walt Disney World, Disney Springs, Disney World area hotels, Universal Studios, and numerous other resorts with our Orlando transportation services.">
<meta name="twitter:image" content="https://www.orlandosuperiortransportation.com/og-graphic.jpg">


    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>
    
    <!-- Structured Data Slot -->
    <WebsiteStructuredData slot="structured-data" />
    <LocalBusinessStructuredData slot="structured-data" />
    <OrganizationStructuredData slot="structured-data" />
    <slot name="structured-data" />
    <!-- End Structured Data Slot -->

    <!-- Google Tag Manager -->
    <script type="text/partytown">
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-5PNCBWND");
    </script>
    <!-- End Google Tag Manager -->


    <!-- Microsoft Clarity -->
    <script type="text/javascript">
      (function(c,l,a,r,i,t,y){
          c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
          t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
          y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
      })(window, document, "clarity", "script", "l8us769iww");
  </script>
  <!-- End Microsoft Clarity -->
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        title="Google Tag Manager"
        src="https://www.googletagmanager.com/ns.html?id=GTM-5PNCBWND"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <main class="min-h-screen bg-gradient-to-r from-white to-amber-50">
      <Banner />
      <BaseHead />
      <slot />
      <Footer />
    </main>
    <script
      is:inline
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"
    ></script>



  
  <!-- overlay -->
  <div id="modal_overlay" class="z-50 hidden fixed inset-0 bg-black bg-opacity-30 h-screen w-full flex justify-center items-start md:items-center pt-10 md:pt-0">
  
  <!-- modal -->
  <div id="modal" class="opacity-0 transform -translate-y-full scale-150  relative w-10/12 md:w-1/2 h-[390px] md:h-[420px] bg-white rounded-2xl shadow-2xl transition-opacity transition-transform duration-300">
  
      <!-- button close -->
      <button 
      id="modelpopup" 
      class="absolute -top-3 -right-3 bg-red-500 hover:bg-red-600 text-2xl w-10 h-10 rounded-full focus:outline-none text-white">
      &cross;
      </button>
  
      
  
      <!-- body -->
      <div class="w-full p-3 text-center">
          <h4 class="text-2xl md:text-3xl text-uppercase font-bold pt-2 md:pt-4 text-yellow-500">Limited Time Offer!</h4>
          <p class="text-1xl md:text-xl pt-1 mb-4">
            Book Now and Get a <span class="font-bold">Free Vehicle Upgrade!</span> <br>Upgrade from a Towncar to a Luxurious SUV at a Towncar Price!
            <span class="font-bold inline-block md:block">Enjoy Luxury Without the Extra Cost!</span>
            
          </p>
        
          <Image
          class="inline-block"
          height="168"
          src={upgrateoffer}
          loading="eager"
          alt="upgrate town car to suv"
          style={{ objectFit: "contain" }}
        />
  
        <p class="mt-4">
          <a href="/book-a-ride/" class="block w-full md:w-1/3 md:inline-block p-1 rounded-full from-rose-400 via-fuchsia-500 to-indigo-500 bg-gradient-to-r">
            <span class="block text-black px-4 py-1 font-semibold rounded-full bg-white hover:bg-transparent hover:text-white transition">Book Now</span>
          </a>
        </p>
        </div>
  
  </div>
  
  </div>
  
  <script>
    const button = document.getElementById('modelpopup');
    button.addEventListener('click', () => { openModal(false); });
  
  const modal_overlay = document.querySelector('#modal_overlay');
  const modal = document.querySelector('#modal');
  
  function openModal (value){
      const modalCl = modal.classList
      const overlayCl = modal_overlay
  
      if(value){
      sessionStorage.setItem("popupShown", "true");
      overlayCl.classList.remove('hidden')
      setTimeout(() => {
          modalCl.remove('opacity-0')
          modalCl.remove('-translate-y-full')
          modalCl.remove('scale-150')
      }, 100);
      } else {
      modalCl.add('-translate-y-full')
      setTimeout(() => {
          modalCl.add('opacity-0')
          modalCl.add('scale-150')
      }, 100);
      setTimeout(() => overlayCl.classList.add('hidden'), 300);
      }
  }

  if (!sessionStorage.getItem("popupShown")) {
    openModal(true);
  }
  </script>

  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  
</style>
